datasets==2.7.1
huggingface-hub==0.11.1
Jinja2==3.1.2
matplotlib==3.6.2
multiprocess==0.70.14
networkx==3.2.1
nltk==3.8
numpy==1.23.5
owlready2==0.47
packaging==22.0
pandas==1.5.2
Pillow==9.3.0
protobuf==3.20.2
rdflib==7.1.4
scikit-learn==1.2.0
scipy==1.9.3
sentence-transformers==2.2.2
sentencepiece==0.1.97
spacy==3.4.4
tokenizers==0.13.2
torch==2.0.0
torchtext==0.13.0
torchvision==0.14.1
tqdm
